[Unit]
Description=Monitor Traffic Service
Wants=mysql.service
After=mysql.service
Wants=clickhouse-server.service
After=clickhouse-server.service

[Service]
ExecStart=/usr/bin/python3 /home/master/bwaf/app/functions/monitors/traffic/monitor_traffic_service.py
Environment=PYTHONPATH="${PYTHONPATH}:/home/master/bwaf"

[Install]
WantedBy=multi-user.target
