NETWORK_CONFIG_DIR=/etc/netplan
NGINX_CONFIG_DIR=/etc/nginx
WAF_RULE_DIR=/home/bwaf/modsec/owasp-modsecurity-crs/rules
MONITOR_LOG_DIR=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_CHARSET=utf8
CLICKHOUSE_DATABASE_NAME=
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USERNAME=
CLICKHOUSE_PASSWORD=
CLOUDFLARE_TOKEN=
CLOUDFLARE_ZONE_ID=
W3AF_PROFILE_PART=/home/bwaf/w3af/profiles/
SYSTEM_ETC_DIR=/etc